*.suo
*.psess
*.vsp
/PdfConstruct/bin/Debug/
/PdfConstruct/bin/Release/de/
/PdfConstruct/bin/Release/Licenses/PDFSharp-License.txt
/PdfConstruct/bin/Release/*.exe
/PdfConstruct/bin/Release/*.ini
/PdfConstruct/bin/Release/*.pdf
/PdfConstruct/bin/Release/*.cmp
/PdfConstruct/bin/Release/*.xml
/PdfConstruct/bin/Release/*.pdb
/PdfConstruct/bin/Release/*.dll
/PdfConstruct/bin/Release/*.zip
/PdfConstruct/bin/Release/*.config
/PdfConstruct/bin/Release/templates
/PdfConstruct/bin/Release/PdfConstruct.vshost.*
/PdfConstruct/obj/
/PdfConstruct/PdfConstruct.csproj.user
/packages/
.vs
